PORT=3333
NODE_ENV=development

DATABASE_URL=postgresql://postgres:postgres@localhost:5432/healthmind
TEST_DATABASE_URL=postgresql://postgres:postgres@localhost:5433/healthmind_test

JWT_SECRET=change_me
JWT_EXPIRES_IN=7d

CORS_ORIGIN=http://localhost:5173
